<h1><%= @playlist.name %></h1>

<ol>
  <% @playlist.tracks.each do |track| -%>
    <li><%= link_to "#{track.name} (#{track.artist})", playlist_track_path(@playlist, track) %> <%= track.mxm_id %> <%= link_to 'X', playlist_track_path(@playlist, track), :method => :delete, :confirm => 'Are you sure?' %></li>
  <% end -%>
</ol>


<h3>Add Track</h3>

<% form_for :track, :url => playlist_tracks_path(@playlist) do |f| -%>
  <input type="text" id="track-search" style="width: 300px"/>
  <%= hidden_field_tag :mxm_id %>
  <%= submit_tag "Save" %>
<% end -%>



<script type="text/javascript" charset="utf-8">
  $("#track-search").result(function(event, data, formatted) {
    $("#mxm_id").val(data[2]);
  });
  $("#track-search").autocomplete("<%= search_playlist_tracks_path(@playlist) %>", {
    formatItem: function(item) {
      return item[0] + " " + item[1];
    }      
  });  
</script>

<br /><br />
<%= link_to 'Delete playlist', playlist_path(@playlist), :method => :delete, :confirm => 'Are you sure?' %>