<!DOCTYPE html>
<html>
<head>
  <title>Karaokeeapp</title>
  <%= stylesheet_link_tag 'style', 'jquery.autocomplete' %>
  <%= javascript_include_tag 'jquery', 'rails', 'jquery.ajaxQueue', 'jquery.bgiframe.min', 'thickbox-compressed', 'jquery.autocomplete.min' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <% flash.each do |k, v| %>
    <p class="flash <%= k %>"><%= v %></p>
  <% end -%>
<%= yield %>

</body>
</html>
