<!DOCTYPE html>
<html>
<head>
  <title>Karaokeeapp</title>
  <%= stylesheet_link_tag 'style', 'jquery.autocomplete' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript"></script>
  <%= javascript_include_tag 'rails', 'application', 'video.search', 'jquery.ajaxQueue', 'jquery.bgiframe.min', 'thickbox-compressed', 'jquery.autocomplete.min' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <% flash.each do |k, v| %>
    <p class="flash <%= k %>"><%= v %></p>
  <% end -%>
<%= yield %>

</body>
</html>
